.quizPage {
    background-color: #ffffff; 
    color: #333;
    font-family: 'Arial', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.quizQuestions {
    display: block;
    margin: 20px auto;
    max-width: 80%; 
    height: auto;
    border: 2px solid #d81b60; 
    border-radius: 10px;
    padding: 20px; 
    box-sizing: border-box;
}

.quizAnswers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Add more space between the question and answers */
}

.quizAnswers img {
    margin: 15px 0; 
    max-width: 80%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; 
}

.submitButton {
    background-color: #d81b60; 
    color: #fff;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #a61748; /* Darker red color on hover */
}
